<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/babylon.custom.js"></script>
  </head>
  <body>
    <canvas id="renderCanvas"></canvas>
    <script>


        var engine = new BABYLON.Engine(renderCanvas,true);
        var scene = new BABYLON.Scene(engine);
        var camera = new BABYLON.ArcRotateCamera("camera",0,0.8,100,BABYLON.Vector3.Zero(),scene);
        camera.attachControl(renderCanvas);

        var light = new BABYLON.PointLight("omni", new BABYLON.Vector3(20,20,100),scene);

        var sphere = new BABYLON.Mesh.CreateSphere("sphere",100,10.0,scene);

        var material = new BABYLON.StandardMaterial("std",scene);
        material.diffuseColor = new BABYLON.Color3(1,0,0);
        sphere.material = material;

        engine.runRenderLoop(function (){
          scene.render();
        });

    </script>
  </body>
</html>
