<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/babylon.custom.js"></script>
    <script src="javascripts/Game.js"></script>
    <script src="javascripts/Player.js"></script>
  </head>
  <body>
    <canvas id="renderCanvas"></canvas>
    <script>createScene();</script>
  </body>
</html>
