<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>var exports = {};</script>
    <!--<script src="/Game.js"></script>-->

    <script src="/ENGINE.js"></script>
    <script src="/SCENE.js"></script>
    <script src="/CAMERA.js"></script>
    <script src="/javascripts/babylon.custom.js"></script>
    <script src="/javascripts/socket.io.dev.js"></script>
    <script src="/Ship.js"></script>
    <script src="/OwnShip.js"></script>
    <script src="/EnemyShip.js"></script>
    <script src="/Water.js"></script>
    <script src="/SkyBox.js"></script>
    <script src="/Light.js"></script>



    import {Player} from "../../src/GameLogic/Entities/Player";
    import {OwnShip} from "./Entities/Ships/OwnShip";
    import {EnemyShip} from "./Entities/Ships/EnemyShip";
    import {ENGINE} from "./Babylon/ENGINE";
    import {SCENE} from "./Babylon/SCENE";
    import * as BABYLON from "babylonjs";
    import io from 'socket.io-client';
    import 'babylonjs-materials';
    import 'babylonjs-loaders';
    import 'babylonjs/Oimo';
    import {CAMERA} from "./Babylon/CAMERA";
    import {Water} from "./Water";
    import {SkyBox} from "./SkyBox";
    import {Light} from "./Light";
</head>
<body>
<!--<script>let game = new Game()</script>-->
<canvas id="renderCanvas"></canvas>
</body>
</html>
