<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/libs/babylon.custom.js"></script>
    <script src="/javascripts/libs/socket.io.dev.js"></script>
    <script src="javascripts/game/entities/Ship.js"></script>
    <script src="/javascripts/game/Game.js"></script>
  </head>
  <body>
    <canvas id="renderCanvas"></canvas>
  </body>
</html>
